.bootstrap-tagsinput {
    width: 100%;
    display: block;
}
.tag {
    background-color: #673ab7;
    padding: 2px 5px;
    border-radius: 4px;
}
.form-group {
    position: relative;
}
.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
}

.tt-menu {
    /* used to be tt-dropdown-menu in older versions */
<<<<<<< HEAD
    width: 100%;
=======
>>>>>>> Updates including tags
    margin-top: 4px;
    padding: 4px 0;
    background-color: #fff;
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 12px;
    cursor: pointer;
}
.tt-suggestion small {
    font-size: 10px;
}
.tt-suggestion.tt-cursor,
.tt-suggestion:hover {
    color: #fff;
    background-color: #0097cf;
}

.tt-suggestion p {
    margin: 0;
}
.material-icons {
    vertical-align: middle;
}
.icons-sm {
    font-size: 15px;
}
.empty-message {
    padding: 5px 10px;
}
<<<<<<< HEAD
=======

.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: auto;
    animation: spin 0.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.dashboard-content {
    min-height: 100vh;
}
>>>>>>> Updates including tags
